@{
    ViewBag.Title = "Página Inicial";
}

<div class="container container-fluid">
    <img src="~/Content/Img/img-topo.JPG" id="idimagem" class="img-responsive" />
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <h1 class="text-center">
                <small class="font-rose">Clash Royale</small>
            </h1>
            <p class="text-justify">
                Entre na arena e surpreenda-se com esse jogo multijogador em tempo real,
                com os seus personagens favoritos do Clash e muito, muito mais.
            </p>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="container-fluid jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">
                <small class="font-rose">O QUE VOCÊ ESTÁ ESPERANDO PARA VIR JOGAR?</small>
            </h2>
            <br />
            <p class="text-center">
                O Clash Royale já tem adeptos ao redor de todo o mundo. Você já conhece os personagens, pois são
                os seus favoritos do Clash. É um jogo multijogador em tempo real que te entrete por muito, muito tempo.
                Tem várias arenas, várias cartas para desbloquear, atualizações mensais, e clãs para você juntar
                seus amigos. O que você está esperando? Vem você jogar com a gente!
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h1>
                <small class="font-rose-italic">É EM TEMPO REAL</small>
            </h1>
            <br />
            <p class="text-justify">
                Enfrente jogadores em tempo real: tanto de forma individual como em duplas. <br/>
                Destrua as torres do adversário para ganhar coroas e assim garantir baús <br/>
                épicos. E você ainda pode usar emotes para se comunicar e irritar seu adversário.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Img/img-1.JPG" class="img-responsive" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <img src="~/Content/Img/img-2.JPG" class="img-responsive" alt="" />
            <!--<div class="carousel slide" data-ride="carousel" id="idcarrouselimg">
        <ol class="carousel-indicators">
            <li data-target="#idcarrouselimg" data-slide-to="0" class="active"></li>
            <li data-target="#idcarrouselimg" data-slide-to="1"></li>
            <li data-target="#idcarrouselimg" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <img src="~/Content/Img/img-2.JPG" alt="" class="img-responsive" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <img src="~/Content/Img/img-3.JPG" alt="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <img src="~/Content/Img/img-4.JPG" alt="" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>

        <a data-slide="prev" href="#idcarrouselimg" class="carousel-control" role="button">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a data-slide="next" href="#idcarrouselimg" class="carousel-control" role="button">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>-->

        </div>
        <div class="col-md-6 col-md-offset-1">
            <h1>
                <small class="font-rose-italic">FORME UM CLÃ</small>
            </h1>
            <br />
            <p class="text-justify">
                Forme um clã para compartilhar cartas e construir sua própria comunidade. <br/>
                Participe de guerras para ajudar o seu clã a crescer. E mais, desafie os <br/>
                amigos do clã para duelos particulares.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h1>
                <small class="font-rose-italic">SEJA O NÚMERO 1</small>
            </h1>
            <br />
            <p class="text-justify">
                Monte o melhor baralho de batalha possível para derrotar os seus adversários, <br/>
                e ganhe baús que desbloqueiam recompensas, alem de novas e poderosas cartas. <br/>
                Melhore suas cartas e vá passando pelas arenas até chegar ao topo e ser o número 1.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Img/img-5.JPG" class="img-responsive" alt="" />
        </div>
    </div>
    <br /><br /><br /><br /><br />
</div>

<div class="container">
    <div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
            <h2 class="font-rose">Que vantagens você tem?</h2>
            <br /> <br /> <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 border border-primary rounded text-center">
            <br /><br />
            <img src="~/Content/Img/logo-1.png" width="60" height="60" alt="Atualizações periódicas" /><br /><br />
            <h4 class="font-rose-small">Atualizações Periódicas</h4><br />
            <p>
                Atualizações com correções de erros e que melhoram o desempenho do jogo
                são lançadas de maneira periódica para que vocês sempre aproveitem o
                Clash Royale da melhor forma possível.
            </p>
        </div>
        <div class="col-md-3 border border-primary rounded offset-md-1 text-center">
            <br /><br />
            <img src="~/Content/Img/logo-2.png" width="60" height="60" alt="Passe Royale" class="center" /><br /><br />
            <h4 class="font-rose-small">Passe Royale</h4><br />
            <p>
                Com o Passe Royale, você tem acesso a recompensas e vantagens diferenciadas,
                como emote e visual de torre exclusivos, desbloqueio automático de baús,
                entradas ilimitadas nos desafios especiais e muito, muito mais!
            </p>
        </div>
        <div class="col-md-3 border border-primary rounded offset-md-1 text-center">
            <br /><br />
            <img src="~/Content/Img/logo-3.png" width="60" height="60" alt="TV Royale" class="center" /><br /><br />
            <h4 class="font-rose-small">TV Royale</h4><br />
            <p>
                Aprenda táticas de batalhas assistindo aos melhores duelos, além de saber em
                primeira mão sobre as novas atualizações.
            </p>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br />

<div class="container-fluid jumbotron jumbotron-fluid">
    <div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
            <h2 class="font-rose">O que estão comentando por ai?</h2>
            <br /> <br /> <br />
        </div>
    </div>
    <div class="row">
        <div class='col-md-offset-2 col-md-8'>
            <div class="carousel slide" data-ride="carousel" id="idcarouseldepoimentos">
                <ol class="carousel-indicators">
                    <li data-target="#idcarouseldepoimentos" data-slide-to="0" class="active"></li>
                    <li data-target="#idcarouseldepoimentos" data-slide-to="1"></li>
                    <li data-target="#idcarouseldepoimentos" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <img class="img-circle" src="~/Content/Img/depoimento-1.jpeg" style="width: 200px;height:200px;" />
                                <br /><br />
                                <blockquote>
                                    <p>Eu jogaria mais se tivesse um emote que pede para o adversário ficar quieto.</p>
                                    <small>Caio Pedrini, jogador de Clash Royale</small>
                                </blockquote>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <img class="img-circle" src="~/Content/Img/depoimento-2.jpeg" style="width: 200px;height:200px;" />
                                <br /><br />
                                <blockquote>
                                    <p>O negócio é passar todos os amigos no ranking no final da temporada.</p>
                                    <small>Jamestomw Patrick, jogador de Clash Royale</small>
                                </blockquote>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <img class="img-circle" src="~/Content/Img/depoimento-3.jpeg" style="width: 200px;height:200px;" />
                                <br /><br />
                                <blockquote>
                                    <p>O objetivo do jogo não é nem ganhar e nem perder, é estar na frente do James no ranking geral.</p>
                                    <small>Luiz Paulo, jogador de Clash Royale</small>
                                </blockquote>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>

                <a data-slide="prev" href="#idcarouseldepoimentos" class="carousel-control" role="button">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a data-slide="next" href="#idcarouseldepoimentos" class="carousel-control" role="button">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid">
    <img src="~/Content/Img/img-download.JPG" id="idimagem2" class="img-responsive" />
    <br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center font-rose">
                Faça o download agora.
                <br />
                <small>É gratuito e sempre vai ser.</small>
            </h2>
            <br />
            <button class="btn btn-rose center-block">DOWNLOAD</button>
        </div>
    </div>
    <br /><br /><br /><br />
</div>
