@{
    ViewBag.Title = "Página Inicial";
}

<div class="container container-fluid">
    <img src="~/Content/Img/img-topo.JPG" id="idimagem" class="img-responsive"/>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <h1 class="text-center">
                <small>Clash Royale</small>
            </h1>
            <p class="text-justify">
                Entre na arena e surpreenda-se com esse jogo multijogador em tempo real,
                com os seus personagens favoritos do Clash e muito, muito mais.
            </p>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="container-fluid jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">
                <small>O QUE VOCÊ ESTÁ ESPERANDO PARA VIR JOGAR?</small>
            </h2>
            <br />
            <p class="text-center">
                O Clash Royale já tem adeptos ao redor de todo o mundo. Você já conhece os personagens, pois são
                os seus favoritos do Clash. É um jogo multijogador em tempo real que te entrete por muito, muito tempo.
                Tem várias arenas, várias cartas para desbloquear, atualizações mensais, e clãs para você juntar
                seus amigos. O que você está esperando? Vem você jogar com a gente!
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h1>
                <small>É EM TEMPO REAL</small>
            </h1>
            <br />
            <p class="text-justify">
                Enfrente jogadores em tempo real: tanto de forma individual como em duplas. Destrua as torres do
                adversário para ganhar coroas e assim garantir baús épicos. E você ainda pode usar emotes para
                se comunicar e irritar seu adversário.
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">

        </div>
        <div class="col-md-4">
            <h1>
                <small>FORME UM CLÃ</small>
            </h1>
            <br />
            <p class="text-justify">
                Forme um clã para compartilhar cartas e construir sua própria comunidade. Participe de guerras
                para ajudar o seu clã a crescer. E mais, desafie os amigos do clã para duelos particulares.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h1>
                <small>SEJA O NÚMERO 1</small>
            </h1>
            <br />
            <p class="text-justify">
                Monte o melhor baralho de batalha possível para derrotar os seus adversários, e ganhe baús que desbloqueiam recompensas, alem de novas
                e poderosas cartas. Melhore suas cartas e vá passando pelas arenas até chegar ao topo e ser o número 1.
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <br /><br /><br /><br /><br />

    <div class="row">
        <div class="col-md-4">
            <h4>Atualizações Periódicas</h4>
            <p>
                Atualizações com correções de erros e que melhoram o desempenho do jogo
                são lançadas de maneira periódica para que vocês sempre aproveitem o
                Clash Royale da melhor forma possível.
            </p>
        </div>
        <div class="col-md-4">
            <h4>Passe Royale</h4>
            <p>
                Com o Passe Royale, você tem acesso a recompensas e vantagens diferenciadas,
                como emote e visual de torre exclusivos, desbloqueio automático de baús,
                entradas ilimitadas nos desafios especiais e muito, muito mais!
            </p>
        </div>
        <div class="col-md-4">
            <h4>TV Royale</h4>
            <p>
                Aprenda táticas de batalhas assistindo aos melhores duelos, além de saber em
                primeira mão sobre as novas atualizações.
            </p>
        </div>
    </div>
    <br /><br /><br /><br /><br />

    <div>
        <div class="carousel-item">
            <img src="#" alt="#">
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=Primeiro Slide" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Segundo Slide" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Terceiro Slide" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="container container-fluid">
    <img src="~/Content/Img/img-download.JPG" id="idimagem2" class="img-responsive" />
    <br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">
                Faça o download agora.
                <br />
                <small>É gratuito e sempre vai ser.</small>
            </h2>
            <br />
            <button class="btn center-block">DOWNLOAD</button>
        </div>
    </div>
    <br /><br /><br /><br /><br /> <br /><br /><br />
</div>